<header>
    <div class=headerTop>    
        <div class="logo">LOGO</div>
        <div class="logoGrande">LOGO GRANDE</div>
        <div class="logIn">LOGIN</div>
        <div class="signUp">SIGN UP</div>
        <div class="search">SEARCH</div>
    </div>
    <nav class="nav">
        <div class="aprendeMas">APRENDEMAS</div>
        <div class="ubica">UBICA</div>
        <div class="identifica">IDENTIFICA</div>
        <div class="contactanos">CONTÁCTANOS</div>
    </nav>
</header>
<main>
<section class="section1">
    <h1>ESTA PÁGINA ES PARA AYUDAR A RECICLAR</h1>
</section>
<section class="section2">
    <h1>APRENDE MÁS</h1>    
    <div class="section2-1">
    	<div class="section2-1-image-button"><a href="#">IMAGEN - BOTÓN</a>
    	</div>
    		<div class="section2-1-text"><h1>THING</h1>
    			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
	</div>
</section>
</main>